<footer class="footer mt-auto py-3">
    <div class="container">
        <span>Bản quyền &copy; bởi <a href="#">Flowers - PV</a> - 2019.</span>
        <span class="text-muted">Tôn lên vẻ đẹp của Loài Hoa</span>
    </div>
</footer>