<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Contact<span class="sr-only">(current)</span>
                </a>
            </li>
            <!--Menu loại sản phẩm-->
            <li class="nav-item">
                <a href="#loaisanphamMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span>Loại sản phẩm
                </a>
                <ul class="collapse" id="loaisanphamMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/backend/loaisanpham/index.php">
                            <span data-feather="list"></span>Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/backend/loaisanpham/create.php">
                            <span data-feather="plus"></span>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!--End Menu loại sản phẩm-->
            <!--Menu sản phẩm-->
            <li class="nav-item">
                <a href="#sanphamMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span>Sản phẩm
                </a>
                <ul class="collapse" id="sanphamMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/backend/sanpham/index.php">
                            <span data-feather="list"></span>Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/backend/sanpham/create.php">
                            <span data-feather="plus"></span>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
            <!--End Menu sản phẩm-->
            <!--Menu hình sản phẩm-->
            <li class="nav-item">
                    <a href="#hinhsanphamMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                        <span data-feather="package"></span>Hình sản phẩm
                    </a>
                    <ul class="collapse" id="hinhsanphamMenu">
                        <li class="nav-item">
                            <a class="nav-link" href="/shop/backend/hinhsanpham/index.php">
                                <span data-feather="list"></span>Danh sách
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop/backend/hinhsanpham/create.php">
                                <span data-feather="plus"></span>Thêm mới
                            </a>
                        </li>
                    </ul>
                </li>
            <!--End Menu hình sản phẩm-->
            <!--Menu hình sản phẩm-->
            <li class="nav-item">
                    <a href="#nhacungcapMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                        <span data-feather="package"></span>Nhà cung cấp
                    </a>
                    <ul class="collapse" id="nhacungcapMenu">
                        <li class="nav-item">
                            <a class="nav-link" href="/shop/backend/nhacungcap/index.php">
                                <span data-feather="list"></span>Danh sách
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop/backend/nhacungcap/create.php">
                                <span data-feather="plus"></span>Thêm mới
                            </a>
                        </li>
                    </ul>
                </li>
            <!--End Menu hình sản phẩm-->
            <!--Menu khuyến mãi-->
            <li class="nav-item">
                <a href="#khuyenmaiMenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                    <span data-feather="package"></span>Khuyến mãi
                </a>
                <ul class="collapse" id="khuyenmaiMenu">
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/backend/khuyenmai/index.php">
                            <span data-feather="list"></span>Danh sách
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/backend/khuyenmai/create.php">
                            <span data-feather="plus"></span>Thêm mới
                        </a>
                    </li>
                </ul>
            </li>
        <!--End Menu khuyến mãi-->
        </ul>
    </div>
</nav>
